---
interface Props {
  url: string
}

const { url } = Astro.props

// Normalize URL (handle both x.com and twitter.com)
const normalizedUrl = url.replace('x.com', 'twitter.com').split('?')[0]
---

<div class="my-6 not-prose twitter-embed-container">
  <blockquote class="twitter-tweet" data-dnt="true">
    <a href={normalizedUrl}></a>
  </blockquote>
</div>

<script is:inline>
  // Load Twitter widget script if not already loaded
  (function() {
    if (window.twttr) {
      window.twttr.widgets.load();
      return;
    }
    
    const script = document.createElement('script');
    script.src = 'https://platform.twitter.com/widgets.js';
    script.async = true;
    document.head.appendChild(script);
  })();
</script>

<style>
  .twitter-embed-container {
    display: flex;
    justify-content: center;
  }
  
  .twitter-tweet {
    margin: 0 auto !important;
  }
</style>