---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<div class={cn("space-y-2", className)} {...props}>
  <slot />
</div>