---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<div
  class={cn(
    "hidden overflow-hidden text-sm transition-all data-[state=open]:animate-accordion-down data-[state=closed]:animate-accordion-up",
    className
  )}
  data-accordion-content
  {...props}
>
  <div class="pb-4 pt-0 px-6">
    <slot />
  </div>
</div>