---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<span
  class={cn(
    "relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full",
    className
  )}
  {...props}
>
  <slot />
</span>