---
import { cn } from '@/lib/utils'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<span
  class={cn(
    "flex h-full w-full items-center justify-center rounded-full bg-muted",
    className
  )}
  {...props}
>
  <slot />
</span>